@model IEnumerable<superheroic.Models.Super>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<img src=""/>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Allies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnergyProjection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Strength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Durability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FightingSkill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Intelligence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Allies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnergyProjection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Strength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Durability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FightingSkill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Intelligence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
